/*********************** RESET **********************/

/*********************** HTML **********************/



/*********************** COLOR & BACKGROUND **********************/

:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #0000ff;
  --green: #008000;
  --red: #ff0000;
  --yellow: #ffff00;
  --purple: #800080;
  --orange: #ffa500;
  --grey: #808080;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.purple {
  color: var(--purple);
}

.orange {
  color: var(--orange);
}

.grey {
  color: var(--grey);
}

.background-white {
  background-color: var(--white);
}

.background-black {
  background-color: var(--black);
}

.background-blue {
  background-color: var(--blue);
}

.background-green {
  background-color: var(--green);
}

.background-red {
  background-color: var(--red);
}

.background-yellow {
  background-color: var(--yellow);
}

.background-purple {
  background-color: var(--purple);
}

.background-orange {
  background-color: var(--orange);
}

.background-grey {
  background-color: var(--grey);
}




/*
0) git push origin main
1) Se vengono dati due padding/margin ad un elemento, del tipo margin: 0 X, e margin: X 0, il secondo sovrascrive il primo.
2)  Se vengono dati due padding/margin ad un elemento, del tipo margin: 0 X, e margin-(top/right/bottom/left): X ad un elemento, l'ultimo sovrascrive solo la voce corrispettiva del primo
*/


.hype-text-border-black {
  color: white;
  /* Colore del testo */
  /* Crea un contorno nero attorno al testo */
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.hype-text-border-white {
  color: #000;
  /* Colore del testo */
  /* Crea un contorno nero attorno al testo */
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}